// sitevariables
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


//Colors
$colorWhite: #fff;
$colorRed: red;
$colorGreyWhite:#f1f1f1;
$colorBlack:#000;

$colorNav: #565b65;
$colorNavHover: #3f51b5;


$colorLinks:#3f51b5;
$colorPrimary:#3f51b5;
$colorSecondary:#fcca26;
$colorSecondaryHover:#dfb110;
$colorButton:#212121;
$colorDarkLight:#878787;
$colorBorderGrey:#e4e4e4;

$colorExtraDark:#212121;
$colorDark:#565b65;
$colorMidDark:#77787b;

$colorLight:#ababab;
$colorExtraLight:#eaeaea;


$colorHeadingBg:#F2F2F2;
$colorLightBlack:#030303;
$colorLinkHover:#dca72e;
$colorSubmit:#dca72e;
$colorLeftActive:#ffe45f;
$colorPurple:#a88ece;
$colorBlue:#7c86ad;
$colorYellow:#e1be0c;
$colorOrange:#ff8e64;

$colorBorderLight:#eaeaea;
$colorBorderLightNew:#cfcfcf;
$colorRegister:#39c6c7;
$colorReaderTop:#1f2533;

$colorBuddyBtn:#8fc637;  
$colorPlaceholder:#9ecdce;
$colorPlaceholderNew:#f5f5f5;
$colorComment:#f5f5f5;
$colorBtnSecondary:#ffcc4b;  
$colorBtnSecondaryH:#e7bc42;


$colorBtnBlue:#6caef2;  
$colorBtnBlueH:#609edd;
$colorNotiHover:#FAFAFA;

/*new*/
$colorLightBlue:#eaedff;
$colorNewGreen:#60b91e;
$colorLightGreen:#f0ffe5;



//Fonts
$font:'Roboto', sans-serif;
$fthin:100;
$flight:300;
$fregular:400;
$fmedium:500;
$fbold:700;
